.card {
  @apply grid w-80 h-32;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .front{
    @apply grid justify-start items-center w-full h-full rounded-lg p-4;
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid #ccc;
  }
  
  .back {
    @apply grid items-center justify-evenly w-full h-full rounded-lg;
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    transform: rotateY(180deg);
    background-color: #f0f0f0;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }