.list {
    @apply flex flex-col h-64;
    scroll-behavior: smooth;
    overflow-y: auto;
  }

  .list::-webkit-scrollbar {
    @apply rounded-full;
    width: 8px;
}

.list::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-500;
}

.list::-webkit-scrollbar-track {
    @apply bg-slate-100;
}

  .item {
    @apply p-2;
    /* transition: transform 0.2s; */
  }
  
  /* .item:hover {
    transform: scale(1.05);
  } */