.parent{
    @apply flex justify-center items-center md:px-8 py-14 mx-24 my-10 relative;
}

.cont{
    @apply grid grid-cols-2 gap-x-40;
}

.btn{
    @apply grid rounded-3xl border p-24 hover:shadow-lg transition-transform transform hover:scale-105;
}

  .formContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1.5rem;
    z-index: 1;
  }